@media (max-width: 575px) {
    .name {
        display: none;
    }
}

@media (max-width:1024px) {
    .more {
        margin-top: 10px !important;
    }
}

@media (max-width:992px) {
    .input-container {
        margin-bottom: 20px;
    }
}